@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(140deg, rgb(87, 87, 87),rgb(32, 32, 38), black);
    font-family: 'Poppins', sans-serif;
} 
.calculator{
 width: 300px;
 height: 400px;
 background-color: transparent;
 border-radius: 15px;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 50px 30px;
 gap: 30px;
 border: 2px solid rgba(164, 162, 162, 0.537);
}

.calculator input{
    width: 90%;
    height: 70px;
    background-color: transparent;
    border: none;
    color: white;
     font-size: 40px;
    outline: none;
    text-align: right;
}
.calculator input::placeholder{
    color:rgb(255, 255, 255);
}

.cal-button{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
   box-shadow: -7px -5px 10px rgb(207 207 207 / 10%);
   padding: 10px;
   text-align: center;
}
.green_button{
    color: rgb(168, 242, 57);
}
.orange-bg{
    background: rgb(254, 108, 55);
}
